.logo {
  height: 120px;
  width: 190px;
  border-radius: 100%;
}
.action {
  padding: 10%;
  position: flex;
}
.avatar {
  border-radius: 50%;
  height: 60px;
  padding: 5px;
}
.offer-img {
  padding: 5%;
  height: 50%;
  width: 50%;
}
.pic {
  height: 70px;
  width: 90px;
}
.navigation {
  height: 30%;
}
.offert {
  height: 120px;
  width: 190px;
}
.waiter {
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: 50% 50%;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.App-header {
  padding: 0%;
  align-content: center;
}
.Welcome {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.offers {
  align-content: center;
}
.monthly-offer {
  height: 300px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
