.App {
  background-color: black;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.App-header {
  padding: 0%;
  align-content: center;
}
.Welcome {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.offers {
  align-content: center;
}
.monthly-offer {
  height: 300px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
