.logo {
  height: 8em;
  width: 10em;
  border-radius: 50%;
}

.action {
  padding: 10%;
  position: flex;
}
.avatar {
  border-radius: 50%;
  height: 60px;
  padding: 5px;
}

.pic {
  height: 70px;
  width: 90px;
}
.navigation {
  height: 15em;
}

.waiter {
  color: white;
}
.collapsible-card {
  padding-top: 5.5em;
}
.waiter-card {
  width: 85%;
  height: 80%;
}
.buttons {
  display: grid;
  grid-template-columns: 50% 50%;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.App-header {
  padding: 0%;
  align-content: center;
}
.Welcome {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.offers {
  align-content: center;
}
.monthly-offer {
  height: 300px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
